:host {
  display: block;
  min-height: calc(100vh - 64px);
  background-color: #f5f5f5;
}

mat-card {
  cursor: pointer;
}

mat-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
