<mat-toolbar class="px-4 bg-red-800 text-white shadow-lg">
    <span class="font-bold text-lg">Smart TaskHub</span>
    <span class="flex-1"></span>
    @if (authService.isAuthenticated) {
    <button mat-button class="text-white" routerLink="/dashboard">Dashboard</button>
    <button mat-button class="text-white" routerLink="/projects">Projects</button>
    <button mat-button class="text-white" routerLink="/tasks">Tasks</button>
    } @else {
    <button mat-button class="text-white" routerLink="/login">Login</button>
    <button mat-button class="text-white" routerLink="/register">Register</button>
    }
</mat-toolbar>